*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

body{
    font-family: sans-serif;
}
/* utilities */

.bg-orange{
    background-color: orange;
}

.bg-green{
    display: inline-block;
    background-color: green;
    padding: 5px;
}
.bg-red{
    background-color: red;
    padding: 5px;
    display: inline-block;
}
.discount{
    position: absolute;
    bottom: 30%;
    color: white;
    
}
.spazio-dx{
    left: 55px;
}
.red{
    color: red;
}



.font-piccolo{

}
/* layout */
section{
    padding: 40px;
}
.container{
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    height: 1000px;

    

}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.col-30{
    width: 30%;
    margin-bottom: 20px;

    /* border: 1px solid black;
    min-height: 200px; */
}

.card{
    position: relative;
}

