*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}


/* utilities */

.bg-orange{
    background-color: orange;
}

.bg-green{
    background-color: green;
}

.bg-red{
    background-color: red;
}

/* layout */

.container{
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    height: 1000px;

    

}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.col-30{
    width: 30%;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid black;
    
}